services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    command:
      - start-dev
      - --verbose
      - --import-realm
      - --features=oid4vc-vci
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak:/opt/keycloak/data/import
