name: Build and push image

on:
  push:
    branches: [ main ]
  workflow_dispatch: { }

jobs:
  build-and-push-image:
    # Only build and push images from the ba-itsys organization
    if: github.repository_owner == 'ba-itsys'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and push image'
        # https://docs.spring.io/spring-boot/maven-plugin/build-image.html#build-image.customization
        run: >
          mvn
          -Dspring-boot.build-image.imageName=ghcr.io/${{ github.repository }}/\${project.artifactId}:\${project.version}
          -Dspring-boot.build-image.publish=true
          spring-boot:build-image
